*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px tahoma;
}
h2{
	font: bold 10px tahoma;
}
header, section, aside, footer, article, nav, hgroup{
	display: block; 
}
body{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack: center; 
}